@using Bromix.MudBlazor.MaterialDesignIcons
@using WatchList.Core.Model.Filter.Components
@using WatchList.Core.Model.ItemCinema
@using WatchList.Core.Model.ItemCinema.Components
@using WatchList.Core.Model.Sortable
@using WatchList.Core.Model.Sorting

@page "/watchlist"

<MudText Style="text-align:center; font-size:16px; color:navy;" Class="mt-6">List Cinema</MudText>

<MudPaper>

    <MudToolBar Style="place-items:end">

        <div style="align-items:start">
            <MudSelect T="ISortableSmartEnum<WatchItem>" Style="align-items:end" Label="Sort" MultiSelection="true" @bind-Value="SortField.SortField" @bind-SelectedValues="SortField.SortFields"
                       SelectAll="true" SelectAllText="All" OnClose="@LoadData">
                @foreach (var item in SortField.Items)
                {
                    <MudSelectItem T="ISortableSmartEnum<WatchItem>" Value="@item" />
                }
            </MudSelect>
        </div>
        
        <div style="align-items:start; place-items:flex-end">
            <MudToggleIconButton Toggled="@_itemsSearchRequest.IsAscending" ToggledChanged="@OnToggledChanged" Class="mr-5"
                                 Icon="@MaterialDesignIcons.Normal.SortAlphabeticalDescending" Color="@Color.Primary" Title="Descending" Size="Size.Large"
                                 ToggledIcon="@MaterialDesignIcons.Normal.SortAlphabeticalAscending" ToggledColor="@Color.Primary" ToggledTitle="Ascending" ToggledSize="Size.Large" />
            <MudSpacer />
        </div>

        <MudSpacer/>

        <div style="align-items:end; width:250px">
            <MudSelect T="TypeCinema" Label="Type cinema" MultiSelection="true" @bind-Value="FilterWatchItem.TypeFilter" @bind-SelectedValues="FilterWatchItem.FilterTypeField"
                       SelectAll="true" SelectAllText="All type" OnClose="@LoadData" Class="mr-1">
                @foreach (var item in FilterWatchItem.TypeItems)
                {
                    <MudSelectItem T="TypeCinema" Value="@item" />
                }
            </MudSelect>
        </div>

        <div style="align-items:end; width:300px">
            <MudSelect T="StatusCinema" Label="Status" MultiSelection="true" @bind-Value="FilterWatchItem.StatusFilter" @bind-SelectedValues="FilterWatchItem.FilterStatusField"
                       SelectAll="true" SelectAllText="All status" OnClose="@LoadData" Class="mr-1">
                @foreach (var item in FilterWatchItem.StatusItems)
                {
                    <MudSelectItem T="StatusCinema" Value="@item" />
                }
            </MudSelect>
        </div>

        <MudTooltip Text="Off Filter" Placement="Placement.Top">
            <MudIconButton Icon="@MaterialDesignIcons.Normal.FilterOff" OnClick="@ClearFilter" Color="Color.Primary" Variant="Variant.Text" Size="Size.Medium" />
        </MudTooltip>

    </MudToolBar>

    <MudToolBar>

        <MudSpacer />
        <MudButton OnClick="@((e) => SaveItemDialog())" Color="Color.Tertiary" Variant="Variant.Outlined" Style="font-size:12px" Class="mr-3">Add Item</MudButton>
        <MudButton OnClick="@RemoveItemsDialog" Color="Color.Error" Variant="Variant.Outlined" Style="font-size:12px" Disabled="@_isSelectItems">Remove Items</MudButton>

    </MudToolBar>

    <MudTable Items="@_items" Hover="true" SortLabel="Sort By" Elevation="0" Bordered="true" MultiSelection="true" Dense="true" T="WatchItem" SelectedItemsChanged="OnSelectItems">

        <HeaderContent>
            <MudTd Style="text-align:center; font-size:14px; ">Title</MudTd>
            <MudTd Style="text-align:center; font-size:14px; ">Season/Part</MudTd>
            <MudTd Style="text-align:center; font-size:14px; ">Status</MudTd>
            <MudTd Style="text-align:center; font-size:14px; ">Data</MudTd>
            <MudTd Style="text-align:center; font-size:14px; ">Grade</MudTd>
            <MudTd Style="text-align:center; font-size:14px; ">Type</MudTd>
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Title">@context.Title</MudTh>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Season/Part">@context.Sequel</MudTh>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Status">@context.Status</MudTh>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Data">@context.Date?.ToString("d")</MudTh>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Grade">@context.Grade</MudTh>
            <MudTh Style="text-align:center; font-size:12px" DataLabel="Type">@context.Type</MudTh>
            <MudTh Style="text-align:center">
                <MudTooltip Text="Edit" Placement="Placement.Bottom">
                     <MudIconButton Color="Color.Primary" Icon="@MaterialDesignIcons.Normal.Pencil" Variant="Variant.Outlined" Size="Size.Large" Class="ml-1" OnClick="@((e) => SaveItemDialog(context.Id))" />
                </MudTooltip>
                <MudTooltip Text="Remove" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Primary" Icon="@MaterialDesignIcons.Normal.Delete" Variant="Variant.Outlined" Size="Size.Large" OnClick="@(() => RemoveItemDialog(context.Id))" />
                </MudTooltip>
            </MudTh>
        </RowTemplate>

        <PagerContent>
            <MudTablePager HorizontalAlignment="HorizontalAlignment.Center" PageSizeOptions="_pageModel.Items" />
        </PagerContent>

    </MudTable>

</MudPaper>

