@using Bromix.MudBlazor.MaterialDesignIcons
@using WatchList.Core.Model.ItemCinema
@using WatchList.Core.Model.ItemCinema.Components
@using WatchList.Core.Model.Sortable

@page "/watchlist"

<MudText Style="text-align:center; font-size:16px; color:navy;" Class="mt-6">List Cinema</MudText>

<style>
    .mud-table-header {
        text-align: center;
        font-size: 14px;
    }

    .mud-table-cell {
        text-align: center;
        font-size: 12px;
    }
</style>

<MudPaper>

    <MudToolBar Style="place-items:end">

        <div style="align-items:start">
            <MudSelect T="ISortableSmartEnum<WatchItem>" Style="align-items:end" Label="Sort" MultiSelection="true" 
                        @bind-Value="SortField.SortField" @bind-SelectedValues="SortField.SortFields"
                        SelectAll="true" SelectAllText="All" OnClose="@LoadData">
                @foreach (var item in SortField.Items)
                {
                    <MudSelectItem T="ISortableSmartEnum<WatchItem>" Value="@item" />
                }
            </MudSelect>
        </div>
        
        <div style="align-items:start; place-items:flex-end">
            <MudToggleIconButton Toggled="@_itemsSearchRequest.IsAscending" ToggledChanged="@OnToggledChanged" Class="mr-5"
                                 Icon="@MaterialDesignIcons.Normal.SortAlphabeticalDescending" Color="@Color.Primary" 
                                 Title="Descending" Size="Size.Large" ToggledIcon="@MaterialDesignIcons.Normal.SortAlphabeticalAscending" 
                                 ToggledColor="@Color.Primary" ToggledTitle="Ascending" ToggledSize="Size.Large" />
            <MudSpacer />
        </div>

        <MudSpacer/>

        <div style="align-items:end; width:250px">
            <MudSelect T="TypeCinema" Label="Type cinema" MultiSelection="true"  @bind-SelectedValues="FilterWatchItem.FilterTypeField"
                       SelectAll="true" SelectAllText="All type" OnClose="@LoadData" Class="mr-1">
                @foreach (var item in FilterWatchItem.TypeItems)
                {
                    <MudSelectItem T="TypeCinema" Value="@item" />
                }
            </MudSelect>
        </div>

        <div style="align-items:end; width:300px">
            <MudSelect T="StatusCinema" Label="Status" MultiSelection="true"  @bind-SelectedValues="FilterWatchItem.FilterStatusField"
                       SelectAll="true" SelectAllText="All status" OnClose="@LoadData" Class="mr-1">
                @foreach (var item in FilterWatchItem.StatusItems)
                {
                    <MudSelectItem T="StatusCinema" Value="@item" />
                }
            </MudSelect>
        </div>

        <MudTooltip Text="Off Filter" Placement="Placement.Top">
            <MudIconButton Icon="@MaterialDesignIcons.Normal.FilterOff" OnClick="@ClearFilter" 
                            Color="Color.Primary" Variant="Variant.Text" Size="Size.Medium" />
        </MudTooltip>

    </MudToolBar>

    <MudToolBar>

        <MudButton StartIcon="@MaterialDesignIcons.Normal.FileImport" Variant="Variant.Outlined" Color="Color.Primary" 
                    Style="font-size:12px" Class="mr-3" OnClick="@((e) => UploadData())">Import Data</MudButton>

        <MudSpacer />

        <MudButton OnClick="@((e) => SaveItemDialog())" Color="Color.Tertiary" Variant="Variant.Outlined" Style="font-size:12px" Class="mr-3">Add Item</MudButton>
        <MudButton OnClick="@RemoveItemsDialog" Color="Color.Error" Variant="Variant.Outlined" Style="font-size:12px" Disabled="@_isSelectItems">Remove Items</MudButton>

    </MudToolBar>

    <MudTable Items="@_items" RowsPerPage="_pageModel.Size" Hover="true" SortLabel="Sort By" Elevation="2" 
              Bordered="true" MultiSelection="true"  T="WatchItem" SelectedItemsChanged="OnSelectItems">

        <ColGroup>

            <MudItem xs="8" Class="mt-2">
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            </MudItem>
            <MudItem xs="4">
                <col style="width: 40px;" />
            </MudItem>

        </ColGroup>

        <HeaderContent >            
            <MudTh Class="mud-table-header">Title</MudTh>
            <MudTh Class="mud-table-header">Season/Part</MudTh>
            <MudTh Class="mud-table-header">Status</MudTh>
            <MudTh Class="mud-table-header">Data</MudTh>
            <MudTh Class="mud-table-header">Grade</MudTh>
            <MudTh Class="mud-table-header">Type</MudTh>
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd Class="mud-table-cell" DataLabel="Title">@context.Title</MudTd>
            <MudTd Class="mud-table-cell" DataLabel="Season/Part">@context.Sequel</MudTd>
            <MudTd Class="mud-table-cell" DataLabel="Status">@context.Status</MudTd>
            <MudTd Class="mud-table-cell" DataLabel="Data">@context.Date?.ToString("d")</MudTd>
            <MudTd Class="mud-table-cell" DataLabel="Grade">@context.Grade</MudTd>
            <MudTd Class="mud-table-cell" DataLabel="Type">@context.Type</MudTd>
            <MudTd Class="d-flex justify-center">
                <div>
                    <MudTooltip Text="Edit" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Primary" Icon="@MaterialDesignIcons.Normal.Pencil" Variant="Variant.Outlined"
                                       Size="Size.Large" Class="ml-1" OnClick="@((e) => SaveItemDialog(context.Id))" />
                    </MudTooltip>
                    <MudTooltip Text="Remove" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Primary" Icon="@MaterialDesignIcons.Normal.Delete" Variant="Variant.Outlined"
                                       Size="Size.Large" Class="ml-1" OnClick="@(() => RemoveItemDialog(context.Id))" />
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>


        <PagerContent >
            <MudGrid>
                <MudItem xs="6" sm="4" Style="align-self:center">
                        <MudSelect T="int" Label="Show on page" @bind-Value="_pageModel.Size" SelectedValuesChanged="LoadData" Style="max-width:100px; margin-left:10px; text-align:center">
                        @foreach (var sizePage in _pageModel.Items)
                        {
                            <MudSelectItem T="int" Value="@sizePage" />
                        }
                </MudSelect>
                </MudItem>
                <MudItem xs="6" sm="4" Style="align-self:center">
                    <div style="text-align:center;">
                        <MudPagination SelectedChanged="PageChanged" BoundaryCount="1"  MiddleCount="3" Count="_pagedList.PageCount" Class="align-self-center" />
                    </div>
                </MudItem>
            </MudGrid>
        </PagerContent>

    </MudTable>

</MudPaper>

